footer
  .container.text-center
    p.pull-left © 2016 F42Labs.com/GrowthHacker.io, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Factorial42/growthhacker') GitHub Project
      li
        a(href='https://github.com/Factorial42/growthhacker/issues') Issues
