footer
  .container.text-center
    p.pull-left © 2016 GrowthHacker/f42labs.com, Inc. All Rights Reserved
    |         Made with ♥ in Santa Monica

    ul.pull-right.list-inline
      li
        a(href='https://github.com/Factorial42/GrowthHacker.WebClient') GitHub Project
      li
        a(href='https://github.com/Factorial42/GrowthHacker.WebClient/issues') Issues
