extends layout

block content
	.page-header
		h2 Analytics & Visualization
	.nav
		ul
			each item in (brand.account_dashboard_types.toString().split(','))
				if (item == "eCommerce")
					li
						a.current(href='/analytics/' + brand.account_id + '#')=item
				else
					li
						a(href='/analytics/' + brand.account_id + '#' onclick="javascript:alert('Template not implemented yet!')")=item


			if brand.account_dashboard_types.toString().indexOf("eCommerce") !== -1
				div
				<iframe src=#{brand.account_dashboard_url} height="600" width="1150" frameborder='0', allowfullscreen='allowfullscreen'></iframe>

        		

