extends layout

block content
	.page-header
		h2 Analytics & Visualization
	.nav
		ul
			each item in (brand.account_dashboard_types.toString().split(','))
				if (item == "eCommerce")
					li
						a.current(href='/analytics/' + brand.account_id + '#')=item
				else
					li
						a(href='/analytics/' + brand.account_id + '#' onclick="javascript:alert('Template not implemented yet!')")=item


			if brand.account_dashboard_types.toString().indexOf("eCommerce") !== -1
				div
				<iframe src="http://52.37.72.190:5601/app/kibana#/dashboard/Sweat-Tailor-Ecommerce-Dashboard?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-1y,interval:auto,mode:quick,timezone:America%2FLos_Angeles,to:now))&_a=(filters:!(),options:(darkTheme:!t),panels:!((col:1,id:Rev-Count-by-Monthly-Aggregate,panelIndex:1,row:9,size_x:6,size_y:5,type:visualization),(col:7,id:UserCount-by-UserTypes,panelIndex:2,row:9,size_x:6,size_y:5,type:visualization),(col:1,id:Average-of..Weekly,panelIndex:4,row:5,size_x:12,size_y:4,type:visualization),(col:7,id:Traffic-Count-by-Monthly,panelIndex:5,row:14,size_x:6,size_y:4,type:visualization),(col:1,id:Acquisition-Traffic-By-Source-slash-Medium,panelIndex:6,row:1,size_x:12,size_y:4,type:visualization),(col:1,id:Someting-Wong,panelIndex:7,row:14,size_x:6,size_y:4,type:visualization),(col:7,id:Unique-Visitors-and-Product-Revenue-by-Source-slash-Medium,panelIndex:8,row:18,size_x:6,size_y:5,type:visualization),(col:1,id:Transactions-By-Source-Medium-Bars,panelIndex:9,row:23,size_x:12,size_y:5,type:visualization),(col:1,id:Transactions-By-Source-Medium,panelIndex:10,row:18,size_x:6,size_y:5,type:visualization),(col:1,id:Revenue-By-Source-slash-Medium-Bars,panelIndex:11,row:28,size_x:12,size_y:6,type:visualization),(col:1,id:Revenue-By-Channel-Grouping,panelIndex:12,row:34,size_x:7,size_y:5,type:visualization),(col:8,id:Top-10-products-by-revenue,panelIndex:13,row:34,size_x:5,size_y:5,type:visualization),(col:1,id:TimeLine-Sampling,panelIndex:14,row:39,size_x:12,size_y:4,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Sweat%20Tailor%20Ecommerce%20Dashboard',uiState:(P-1:(vis:(legendOpen:!f)),P-10:(vis:(legendOpen:!f)),P-11:(vis:(legendOpen:!f)),P-12:(vis:(colors:(Revenue:%23EF843C),legendOpen:!f)),P-2:(vis:(legendOpen:!f)),P-3:(vis:(legendOpen:!t)),P-4:(vis:(legendOpen:!t)),P-5:(vis:(legendOpen:!f)),P-7:(vis:(legendOpen:!f)),P-9:(vis:(legendOpen:!f))))" height="600" width="1150" frameborder='0', allowfullscreen='allowfullscreen'></iframe>

        		

